body {
  background: url('https://marketplace.canva.com/EAEKqFmj8I4/1/0/800w/canva-azul-marr%C3%B3n-blanco-perros-huellas-de-patas-bonito-fondo-virtual-zoom-QHD8orw_AL8.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
